<main>
    <section id="banner" class="banner">
        <div class="box">
            <h1>
                <span class="title1">Seja bem-vindo!</span>
                <span class="title2">Sou Matheus Castro, programador iniciante com um conhecimento geral
                    sobre Front-End e Back-End.</span>
            </h1>

            <p class="paragraph">Conheça mais sobre mim, minhas habilidades, e experiência de estudo.</p>

            <div class="buttons">
                <a href="#about">
                    <i class="material-symbols-outlined">person_search</i>
                    Sobre mim
                </a>
                <a href="#skills">
                    <i class="material-symbols-outlined">verified</i>
                    Habilidades
                </a>
            </div>
        </div>

    </section>

    <section id="about" class="container about">
        <div class="box">
            <div class="img">
                <img src="./assets/imgs/fotoDePerfilLinkedIn.JPG" alt="foto de matheus castro">
            </div>
            <div class="text">
                <h2>Sobre mim</h2>

                <h3>Eu sou o Matheus Castro, programador júnior focado em desenvolvimento web.</h3>

                <p>Tenho conhecimentos em <b>JavaScript, HTML e CSS,</b> além de estar aprendendo mais sobre <b>Angular e TypeScript</b></p>

                <p>Estou no começo da minha carreira como programador, e tenho muita vontade de aprender e me especializar na área.</p>
                
                <p>Também estou disposto a aprender novas liguagens e me tornar mais experiente conforme as demandas e oportunidades do mercado. 😉</p>

                <a href="#contact">Entre em contato comigo!</a>
            </div>
        </div>
    </section>
</main>