<main>
    <section id="banner" class="banner">
        <div class="box">
            <h1>
                <span class="title1">Seja bem-vindo!</span>
                <span class="title2">Meu nome é Matheus Castro. Sou um programador iniciante com um conhecimento geral
                    sobre Front-End e Back-End.</span>
            </h1>

            <p class="paragraph">Conheça mais sobre mim, minhas habilidades, e experiência de estudo.</p>

            <div class="buttons">
                <a href="#about">
                    <i class="material-symbols-outlined">person_search</i>
                    Sobre mim
                </a>
                <a href="#skills">
                    <i class="material-symbols-outlined">verified</i>
                    Habilidades
                </a>
            </div>
        </div>

    </section>
</main>